name: lint-with-vale.yml
on:
  pull_request:
    paths:
      - 'docs/modules/ROOT/pages/**'
      - '.github/workflows/lint-with-vale.yml'

jobs:
  vale:
    name: Linting with Vale
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - uses: errata-ai/vale-action@reviewdog
        with:
          files: ./docs/modules/ROOT/pages/
          filter_mode: added
          reporter: github-pr-review
          fail_on_error: false
        env:
          # Required, set by GitHub actions automatically:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          REVIEWDOG_GITHUB_API_TOKEN: ${{secrets.GITHUB_TOKEN}}